/* ------------------------ Global styles definition ------------------------ */
body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  background-color: #ffffff;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

img {
  display: block;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.section-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}
/* -------------------------------------------------------------------------- */

/* ----------------------------- Header styles ------------------------------ */
.header {
  border-bottom: 1px solid #e7e9fc;
}

.header > .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.navigation {
  align-items: center;
  display: flex;
  /* gap: 76px; */
  /* margin-right: 332px; */
}

.header a {
  padding-top: 24px;
  padding-bottom: 24px;
}

.logo {
  display: block;
  margin-right: 76px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo .accent {
  color: #2e2f42;
}

.menu {
  display: flex;
  gap: 40px;
}

.menu-link {
  display: block;
  font-weight: 500;
  color: #2e2f42;
}
.menu-link:hover,
.menu-link:focus {
  font-weight: 500;
  color: #404bbf;
}
.underline:active {
  text-decoration: underline;
  text-decoration-thickness: 4px;
  color: #404bbf;
}

.contacts-list {
  display: flex;
  gap: 40px;
  margin-left: auto;
}

.contacts-link {
  display: block;
  color: #434455;
}

.contacts-link:hover,
.contacts-link:focus {
  color: #404bbf;
}
/* -------------------------------------------------------------------------- */

/* ----------------------------- Hero styles -------------------------------- */
.hero {
  background-color: #2e2f42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.hero-title {
  max-width: 496px;
  margin: 0 auto 48px;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #ffffff;
}

.hero-btn {
  display: block;
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  background: #4d5ae5;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: inherit;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background: #404bbf;
}

/* -------------------------------------------------------------------------- */

/* --------------------------- Principles styles ---------------------------- */
.principles-section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.principles-list {
  display: flex;
  gap: 24px;
}

.principles-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
}

.principles-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
/* -------------------------------------------------------------------------- */

/* ----------------------------- Team styles -------------------------------- */
.team {
  background-color: #f4f4fd;
  padding-top: 120px;
  padding-bottom: 120px;
}

/* .section-title {} */
.team .section-title {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  flex-basis: calc((100% - 3 * 24px) / 4);
  background: #ffffff;
  text-align: center;
  /* padding-bottom: 32px; */
  border-radius: 0px 0px 4px 4px;
}

.team-image {
  /* margin-bottom: 32px; */
}

.team .card-desc {
  padding: 32px 0;
}

.team-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}
/* -------------------------------------------------------------------------- */

/* ---------------------------- Portfolio styles ---------------------------- */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}

.portfolio .section-title {
  text-transform: capitalize;
  margin-bottom: 72px;
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.portfolio-item {
  flex-basis: ((100% - 2 * 24px) / 3);
  /* padding-bottom: 32px; */
}

.portfolio-image {
  /* margin: 0 auto 32px; */
}

.portfolio .card-desc {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.portfolio-subtitle {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  color: #2e2f42;
  letter-spacing: 0.02em;
}
/* -------------------------------------------------------------------------- */

/* ----------------------------- Footer styles ------------------------------ */
.footer {
  background-color: #2e2f42;
  padding-top: 100px;
  padding-bottom: 100px;
}
.footer-logo {
  display: inline-block;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  /* padding-top: 16px; */
  /* padding-bottom: 16px; */
  margin-bottom: 16px;
}

.footer-logo .accent {
  color: #f4f4fd;
}

.footer-text {
  width: 264px;
  /* margin-top: 16px; */
  color: #f4f4fd;
}

/* -------------------------------------------------------------------------- */
